[access "refs/heads/*"]
	create = group Sony Shinano Maintainers
	push = +force group Sony Shinano Maintainers
	label-Verified = -1..+1 group Sony Shinano Maintainers
	submit = group Sony Shinano Maintainers
	pushMerge = group Sony Shinano Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Shinano Maintainers
