on init
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 6182
	symlink /dev/block/platform/msm_sdcc.1 /dev/block/bootdevice

on boot
	#allow core adjustements
	write /sys/module/msm_thermal/core_control/enabled 0
	write /sys/devices/system/cpu/cpu1/online 1
	write /sys/devices/system/cpu/cpu2/online 1
	write /sys/devices/system/cpu/cpu3/online 1


	write /sys/module/lpm_levels/system/cpu0/pc/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu0/wfi/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu0/retention/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu0/standalone_pc/suspend_enabled 1

	write /sys/module/lpm_levels/system/cpu1/pc/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu1/wfi/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu1/retention/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu1/standalone_pc/suspend_enabled 1

	write /sys/module/lpm_levels/system/cpu2/pc/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu2/wfi/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu2/retention/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu2/standalone_pc/suspend_enabled 1

	write /sys/module/lpm_levels/system/cpu3/pc/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu3/wfi/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu3/retention/suspend_enabled 1
	write /sys/module/lpm_levels/system/cpu3/standalone_pc/suspend_enabled 1

	write /sys/module/lpm_levels/system/cpu0/pc/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu0/wfi/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu0/retention/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu0/standalone_pc/idle_enabled 1

	write /sys/module/lpm_levels/system/cpu1/pc/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu1/wfi/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu1/retention/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu1/standalone_pc/idle_enabled 1

	write /sys/module/lpm_levels/system/cpu2/pc/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu2/wfi/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu2/retention/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu2/standalone_pc/idle_enabled 1

	write /sys/module/lpm_levels/system/cpu3/pc/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu3/wfi/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu3/retention/idle_enabled 1
	write /sys/module/lpm_levels/system/cpu3/standalone_pc/idle_enabled 1

	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "ondemand"
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq  300000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1500000
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq  300000
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1500000
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq  300000
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1500000
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq  300000
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1500000

	#restore core auto control with new settings
	write /sys/module/msm_thermal/core_control/enabled 1

	write /sys/class/devfreq/qcom,cpubw.40/governor "cpubw_hwmon"
	write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
	write /dev/cpuctl/cpu.notify_on_migrate 1

on fs
    # needed to make qseecomd work in recovery
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

# Oreo has qseecomd in /vendor/bin so add the additional
# service. Only an existing binary will be started, never both.

service qseecomd /vendor/bin/qseecomd
    user root
    group root
    setenv PATH /vendor/bin:/system/bin
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64:/vendor/lib:/system/lib
    disabled
    oneshot

service keystore_auth /sbin/keystore_auth
    disabled
    oneshot
    user system
    group root
    seclabel u:r:recovery:s0
